<!-- drawer with avatar, navigation and logout button -->

<aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
  <nav class="mdc-drawer__drawer">
    <header class="mdc-drawer__header">
      <div class="mdc-drawer__header-content">
        <%= image_tag "/assets/avatars/#{@account.configuration.avatar}", id: "avatar", height: "100%" %>
      </div>
    </header>
    <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
      <a class="mdc-list-item" href="<%= categories_url %>">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_module</i><%= t 'categories' %>
      </a>
      <a class="mdc-list-item" href="<%= statistics_url %>">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assessment</i><%= t 'statistics' %>
      </a>
      <a class="mdc-list-item" href="<%= logout_url %>">
        <i class="material-icons mdc-list-item__graphic">
          mobile_off
        </i><%= t 'sign_out' %>
      </a>
    </nav>
  </nav>
</aside>
